
body{
    width: 100%;
    height: 100%;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #fff;
    padding: 10px;
    margin: -10px;
}

.head-link{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

header.header h4{
    margin: 0;
}

ul.head-link li{
    list-style: none;
}

ul.head-link li a{
    text-decoration: none;
}