body{
    display: flex;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
}

.header{
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    color: #fff;
    padding: 10px 0;
    margin: -10px;
}

.head-link{
    display: flex;
    margin: 0;
    padding: 0;
    gap: 16px;
}

header.header h4{
    margin: 0;
}

ul.head-link li{
    list-style: none;
}

ul.head-link li a{
    text-decoration: none;
}

.main{
    display: flex;
    align-items: flex-start;
    justify-content: space-evenly;
    padding: 40px 0;
    background-color: #1f2937;
    margin: 0 -10px -10px -10px;
}

.main-info{
    flex-basis: 400px;
}

.img{
    background-color: #e5e7eb;
    padding: 80px;
    margin-top: 3s0px;
}

div.main-info h1{
    font-size: 48px;
    font-weight: 1000;
    color: #f9faf8;
    margin-bottom: 0;
}

div.main-info div{
    color: #f9faf8;
}

div.main-info button{
    background-color: #3882f6;
    border: none;
    border-radius: 5px;
    color: #f9faf8;
    padding: 4px 18px;
    margin-top: 8px;
}

.third-sec{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.third-sec h2{
    margin: 40px;
}

.img-cont{
    display: flex;
    justify-content: center;
    gap: 32px;
}   

.r-img{
    width : 100px;
    height: 100px;
}

.img-r{
    width: 100px;
    height: 100px;
    border: 2px solid #3882f6;
    border-radius: 5px;
}

.r-img p{
    font-size: 10px;
    text-align: center;
}

.fourth-sec{
    background-color: #e5e7eb;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px -10px;
    padding: 30px;
}

.fourth-sec p{
    width: 600px;
    font-size: 18px;
}

.fifth-sec{
    background-color: #3882f6;
    width: 700px;
    height: 100px;
    align-self: center;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.ad h5{
    margin: 0;
    font-size: 14px;
}

.ad p{
    font-size: 10px;
    margin: 0;
}

.ad-con{
    display: flex;
    gap: 70px;
}

.sign{
    border: none;
    border: 1px solid #e5e7eb;
    border-radius: 5px;
    background-color: #3882f6;
    color: white;
    align-self: flex-end;
}